@model ChopperiaFelizardo.Models.FormPayment

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Deseja realmente excluir essa forma de pagamento?</h3>
<div>
    <h4>Forma de pagamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger" /> |
            <a class="btn btn-default" asp-action="Index">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
                    Listagem
                </span>
            </a>
        </div>
    </form>
</div>
